<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  For general questions or comments, please consult the resources listed on the <a href="http://ruby.railstutorial.org/help/">help page</a>.
  Otherwise, I can be reached at <a href="mailto:admin@railstutorial.org">admin@railstutorial.org</a>. 
</p>
 